# A Simple music model to predict the genre based on the age and gender

## Step:1  Import the data

##### Assume 1 is male and 0 is female

In [2]:
import pandas as pd
music_df = pd.read_csv("music.csv")
music_df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

## Step : 2 Split the data into training and test sets

In [5]:
input_data = music_df.drop(columns=['genre'])
input_data #This is the input data for the music model :)

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [7]:
output_data = music_df['genre']
output_data

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

## All set - Model has the input data to feed and the ouput ecpectation

## Step : 3 Learning and predicting

### Create a model

In [8]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

### Train the model and get the prediction

In [12]:
model.fit(input_data, output_data)
predictions = model.predict([[21,1], [22,0]])
predictions #MAke predictions

array(['HipHop', 'Dance'], dtype=object)

## Calculating the accuracy
Moslty consider 80% of data for training and 20% for testing

In [37]:
from sklearn.model_selection import train_test_split
# test_size means the percentage for testing the model
input_train, input_test, out_train, out_test = train_test_split(input_data, output_data, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(input_train, out_train)
predictions = model.predict(input_test)
from sklearn.metrics import accuracy_score
score = accuracy_score(out_test, predictions)
score

1.0

Each time when we try to calculate the scrore it varies like 1.0, 0.75, 0.50......

##### Let see what happens if we increase the test size...

In [43]:
input_train, input_test, out_train, out_test = train_test_split(input_data, output_data, test_size=0.8)
model = DecisionTreeClassifier()
model.fit(input_train, out_train)
predictions = model.predict(input_test)
from sklearn.metrics import accuracy_score
score = accuracy_score(out_test, predictions)
score
#Accuracy reduces

0.4

## Persisting Models 
Each, we don't meed to train the model several time, So we create a persisting model which is already trained

In [50]:
import joblib
joblib.dump(model, 'music-recommmender.joblib') #Trained model will be saved

['music-recommmender.joblib']

### Try reusing the trained model

In [55]:
trained_model = joblib.load('music-recommmender.joblib')
predictions = model.predict([[21,0]])
predictions

array(['Dance'], dtype=object)